{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="container">
        <div class="row blue">
            {{ form_start(form) }}
            
            <div class="col l12 form-container link">                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col l12 input-field">
                            <a href="{{ path('login') }}">Se connecter</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col l12 m12 s12 form-container">
                <div class="text-container">
                    <div class="input-field">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
            </div>
            <div class="col l12 m12 s12 search-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col l12">
                            <div class="search-button">
                                {{ form_widget(form.send) }}
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</main>
{% endblock %}
