{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="container">
        <div class="row blue">
            {{ form_start(form) }}
                <div class="col l12 form-container link">                
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col l12 input-field">
                                <a href="{{ path('login') }}">Se connecter</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col l12 m12 form-container">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col l6 m6 s12">
                                <div class="text-container">
                                    <div class="input-field">
                                        {{ form_label(form.password.first) }}
                                        {{ form_widget(form.password.first) }}
                                    </div>
                                </div> 
                            </div>
                            <div class="col l6 m6 s12">
                                <div class="text-container">
                                    <div class="input-field">
                                        {{ form_label(form.password.second) }}
                                        {{ form_widget(form.password.second) }}
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>   
                <div class="col l12 m12 s12 search-section">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col l12">
                                <div class="search-button">
                                    {{ form_widget(form.reset) }}
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
