{% extends 'base.html.twig' %}

{% block body %}
<main>
    <div class="container">
        <div class="row blue">
            <div class="col l12">
                <p>search</p>
                
                {{ form_start(form) }}
                {{ form_widget(form.alternation) }}
                {{ form_widget(form.backToSchool) }}
                {{ form_widget(form.level) }}
                {{ form_widget(form.rncp) }}
                {{ form_widget(form.formation) }}
                {{ form_widget(form.location) }}
                {{ form_widget(form.noFormation) }}
                {{ form_widget(form.noLocation) }}
                {{ form_widget(form.search) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</main>
{% endblock %}
